<h1>There are no cats!</h1>

<article>
    <h3>Name: {{name}}</h3>
    <p>Age: {{age}}</p>
    <hr>
</article>

<form method="post">
    <label for="name">Name</label>
    <input type="text" id="name" id="id">
    <label for="age">Age</label>
    <input type="number" id="age" name="age">
    <input type="submit" value="Create">
</form>