<div class="userDetails">
  <div class="comment-data">
    <div class="profilepic">
      <div class="profile_img">
        <div class="image">
          <!-- User Profile Image -->
          {{#if userId.image}}
            <img src="{{userId.image}}" alt="img8" />
          {{else}}
            <img src="/images/person.png" alt="img8" />
          {{/if}}
        </div>
      </div>
    </div>

    <!--User's username-->
    <p><b>{{userId.username}}</b> - {{message}}</p>
  </div>
</div>